@mixin flex($jc: center, $ai: center, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin max-width() {
    width: 100vw;
    max-width: 100%;
}

@mixin max-height() {
    height: 100vh;
    max-height: 100%;
}

@mixin landing-image() {
    height: 30vh;
    min-height: 250px;
}

@mixin absolute($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}


@mixin screen-xs() {
    @media(max-width: $screen-xs) {
        @content;
    }
}

@mixin screen-s() {
    @media(max-width: $screen-s) {
        @content;
    }
}

@mixin screen-m() {
    @media(max-width: $screen-m) {
        @content;
    }
}

@mixin screen-l() {
    @media(max-width: $screen-l) {
        @content;
    }
}

@mixin screen-xl() {
    @media(max-width: $screen-xl) {
        @content;
    }
}