//colors

$light-color: rgb(227, 227, 230);
$light-grey: rgb(214, 214, 214);
$dark-color: #333;
$gold-color: rgb(228, 172, 32); 
$blue-color: rgba(43, 43, 184, 0.514);


//screen size

$screen-xs: 360px;
$screen-s: 480px;
$screen-m: 640px;
$screen-l: 960px;
$screen-xl: 1100px;


// font size

$font-sm: 10px;
$font-m: 16px;
$font-l: 20px;


//misc
$landing-overlap: -30px;
$image-thumbnail-width: 110px;
